* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  border: 1px solid #ddd;
  width: 350px;
  margin-left: 600px;
  margin-top: 150px;
  background-color: white;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 10px;
  margin-left: 100px;

  padding-bottom: 10px;
}

.login-container {
  width: 350px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #111;
}

.login-container label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #f0c14b;
  border: 1px solid #cea53e;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #e2b33c;
}

.login-container p {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  color: #555;
}

.login-container p a {
  color: #007185;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}
